@model IEnumerable<WebBlog.ApplicationCore.Entities.Comment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@{
    bool hasParent = false;
    if (Model.Count() != 0)
    {
        if (Model.Cast<WebBlog.ApplicationCore.Entities.Comment>().First().ParentCommentId != null)
        {
            hasParent = true;
        }
    }

}
@if (hasParent)
{
    <p>
        <a asp-action="Create" asp-route-postId="@ViewBag.PostId" asp-route-commentId="@ViewBag.ParentCommentId">Create New</a>
    </p>
}
else
{
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.PostId">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            @if (!hasParent)
            {
                <th>
                    Child comments
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>

                @if (!hasParent)
                {
                    <td>
                        <a asp-controller="Comment" asp-action="Index" asp-route-postId="@ViewBag.PostId" asp-route-commentId="@item.Id">
                            Link
                        </a>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                }

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Posts" asp-action="Details" asp-route-id="@ViewBag.PostId">Back to Post</a>
</div>



