@model IEnumerable<WebBlog.ApplicationCore.Entities.Post>

@{
    ViewData["Title"] = "IndexUnverifiedPosts";
}

<h2>IndexUnverifiedPosts</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>

            <td>
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
